extends ../layout

block content
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Login
        form.contact-form.mt-4(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='email', name='email', id='email', placeholder='Email', autofocus, required)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='password', id='password', placeholder='Password', required)
            br
          .row
            .col-md-12
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Login
              a.btn.btn-link(href='/forgot') Forgot your password?
          .row
            .col-md-12
              a.btn.btn-block.btn-facebook(href='/auth/facebook')
                i.fa.fa-facebook
                | Sign in with Facebook
              a.btn.btn-block.btn-twitter(href='/auth/twitter')
                i.fa.fa-twitter
                | Sign in with Twitter
              a.btn.btn-block.btn-gplus.btn-social(href='/auth/google')
                i.fa.fa-google-plus
                | Sign in with Google
              a.btn.btn-block.btn-github.btn-social(href='/auth/github')
                i.fa.fa-github
                | Sign in with GitHub
              a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
                i.fa.fa-linkedin
                | Sign in with LinkedIn
              a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
                i.fa.fa-instagram
                | Sign in with Instagram
            

