extends ../layout

block content
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Cambia password
        form.contact-form.mt-4(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              input.form-control-custom.mb-4(ttype='password', name='password', id='password', placeholder='New password', autofocus, required)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
            br
          .row
            .col-md-12
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Invia
