extends ../layout

block content
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Signup
        form.contact-form.mt-4(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='email', name='email', id='email', placeholder='Email', autofocus, required)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='password', id='password', placeholder='Password', required)
            br
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
            br
          .row
            .col-md-12
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Signup
          .row
            .col-md-12
  br
  br
  br
  br
  br
  br
  br
              