extends ../../layout

block content
  .page-header
    h3 Nuova Categoria

  form.form-horizontal(action='/admin/categoria_update', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='id', value=docs._id)
    .form-group
      label.col-sm-3.control-label(for='name') Nome Categoria
      .col-sm-7
        input.form-control(type='text', name='nome', id='nome', value= docs.nome)
    .form-group
      label.col-sm-3.control-label(for='img') Immagine
      .col-sm-7
        input.form-control(type='text', name='img', id='img', value= docs.img)
    .form-group
      label.col-sm-3.control-label(for='icon') Icona
      .col-sm-7
        input.form-control(type='text', name='icon', id='icon', value= docs.icon)
    .form-group
      label.col-sm-3.control-label(for='excerpt') Excerpt
      .col-sm-7
        textarea.form-control(rows='3', name='excerpt', id="excerpt") #{docs.excerpt}
    .form-group
      label.col-sm-3.control-label(for='description') Descrizione
      .col-sm-7
        textarea.form-control(rows='6', name='description', id="description") #{docs.description}
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Inserisci