.clearfix
footer.footer-4.footer
  .container
    .row
      .col-md-6.text-center.text-md-left.mt-2.mb-3.pt-1
        p.copyright Copyright © YourStartup. All rights reserved.
      .col-md-6.text-center.text-md-right.mb-4
        ul.social
          li
            a.fa.fa-facebook(href='#', title='Facebook')
          li
            a.fa.fa-twitter(href='#', title='Twitter')
          li
            a.fa.fa-google(href='#', title='Google+')
          li
            a.fa.fa-dribbble(href='#', title='Dribbble')
          li
            a.fa.fa-instagram(href='#', title='Instagram')
          .clear
