.clearfix
footer.footer-4.footer
  .container
    .row
      .col-md-6.text-center.text-md-left.mt-2.mb-3.pt-1
        p.copyright Copyright 2017 © Codegarage. All rights reserved.
      .col-md-6.text-center.text-md-right.mb-4
        ul.social
          li
            a.fa.fa-facebook(href='#', title='Facebook')
          .clear
