extends layout

block content
  section.contact-1
  .container
    .row
      .col-sm-12.text-center(style='padding-bottom:20px;')
        h3(style='padding-bottom:20px;') Codegarage: corsi tenuti da specialisti della programmazione
        p
          | Codegarage e' un progetto portato avanti da alcune startups per diffondere la corretta cultura della programmazione web,
          br
          |  in contrapposizione ai corsi che non insegnano nulla.
          |             Contattateci senza impegno, 
          br
          |  vi spiegheremo personalmente in che modo potremo aiutarvi a migliorare la vostra comprensione del web
    hr
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Richiesta informazioni
        form.contact-form.mt-4
          .row
            .col-md-5
              input.form-control-custom.mb-4(type='text', placeholder='Nome e cognome' , id='name', name='name')
            .col-md-5
              input.form-control-custom.mb-4(type='text', placeholder='Indirizzo email',  id='email',name='email')
            br
          .row
            .col-md-10
              textarea.form-control-custom.mb-4(name='message', id='message', rows='3',placeholder='Messaggio')
              br
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Invia Messaggio
      .col-sm-4.text-center.text-md-left
        h3 Contatti
        h4.pt-4 Email
        p hello@codegarage.it
        h4.pt-2 Tel
        p +39 347 90 47 120
        h4.pt-2 Indirizzo
        p
          | Via Piercarlo Boggio - Torino
          br
          |             Italia
        ul.social
          li
            a.fa.fa-facebook(href='#', title='Facebook')
          .clear
