
html, body, #map-canvas {
    height: 500px;
    width: 100%;
    margin: 0px;
    padding: 0px
}

body { 
    padding-top: 6rem; 
}

.cover-50 {
  background: #f7f7f8;
  min-height: 6rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #333;
  padding-top: 1rem; }
  .cover-50 a.navbar-brand {
    color: #000 !important; }
  .cover-50 h1 {
    color: #000;
    font-weight: 200; }
  .cover-50 p.lead {
    margin: 2rem auto;
    color: #696b6e;
    font-family: "Droid Serif", Times, Georgia, serif;
    font-style: italic; }
  .cover-50 .cover-container {
    display: table;
    height: 100%;
    min-height: 34rem;
    margin: 0 auto; }

.doce-link a {color:#fff;}
.doce-link-sidebar a {color:#000;}


.btn .fa{
  font-size: 14px;
  margin-right: 5px;
}
.btn-twitter{
  background-color: #55ACEE;
}
.btn-facebook{
  background-color: #3B5998;
}
.btn-gplus{
  background-color: #DD4B39;
}
.btn-linkedin{
  background-color: #0976B4;
}
.btn-pinterest{
  background-color: #CC2127;
}
.btn-youtube{
  background-color: #E52D27;
}
.btn-tumblr{
  background-color: #35465C;
}
.btn-github{
  background-color: #333333;
}
.btn-behance{
  background-color: #1769FF;
}
.btn-dribbble{
  background-color: #EA4C89;
}
.btn-reddit{
  background-color: #FF4500;
}
.btn-instagram{
  background-color: #cd486b;
}

p {font-size: 16px;}
.cover-2{padding-top:4rem;}
