extends ../../layout

block content
  p
    a.btn.btn-default(href='/admin/corso_form') Nuovo Corso
  hr
  .page-header
    h3 Lista Corsi

  each doc in docs
    .row(style="padding-bottom:5px;")
      .col-md-2
        | #{doc.img}
      .col-md-6
        | #{doc.nome}
      .col-md-2
        a.btn.btn-default(href='/admin/corso_edit/' + doc._id)
          | Edita
      .col-md-2
        a.btn.btn-default(href='/admin/corso_delete/' + doc._id)
          | Cancella
