extends ../../layout

block content
  p
    a.btn.btn-default(href='/admin/docente_form') Nuovo Docente
  hr
  .page-header
    h3 Lista Docenti

  each doc in docs
    .row(style="padding-bottom:5px;")
      .col-md-2
        | #{doc.img}
      .col-md-6
        | #{doc.nome}
      .col-md-2
        a.btn.btn-default(href='/admin/docente_edit/' + doc._id)
          | Edita
      .col-md-2
        a.btn.btn-default(href='/admin/docente_delete/' + doc._id)
          | Cancella
